# Business Line Data Analysis

In this data analysis project, I analyze the performances of 'relationship managers'. Relationship managers (or RMs) are individuals that are responsible for sourcing, obtaining, and maintaining clientelle. The RM's offer the clients (or in this case, companies) products needed to operate a successful business. The products then bring in gross profits into the RMs company (referred to as "My Company").

In [29]:
import pandas as pd
import os, csv
import numpy as np
import matplotlib.pyplot as plt

In [30]:
# Connect to the data file

dataframe = pd.read_csv(os.path.join("business_line_data.csv"))
dataframe.head()

,Company ID,Client Status,Deposits (Co or Firm),Investment Balances (Co or Firm),Loans (Co or Firm),Credit Lines *,MD Name,State,Client Tier,Business Group,Most recent Call Report,Unnamed: 11,Unnamed: 12
0,103,Former Client,0.0,0.0,0.0,NaN,Dominic,TX,NaN,Life Science and Healthcare,12/25/20,NaN,NaN
1,112,Non-Client,NaN,NaN,NaN,NaN,NaN,MN,NaN,Life Science and Healthcare,NaN,NaN,NaN
2,114,Non-Client,NaN,NaN,NaN,NaN,Dominic,CA,NaN,Life Science and Healthcare,NaN,NaN,NaN
3,119,Non-Client,NaN,NaN,NaN,NaN,NaN,AR,NaN,Life Science and Healthcare,NaN,NaN,NaN
4,150,Non-Client,NaN,NaN,NaN,NaN,NaN,AZ,NaN,Life Science and Healthcare,NaN,NaN,NaN

In [31]:
# Clean the data, remove unnecessary columns to reduce white noise 
# (Unnamed 11, Unnamed 12, Call Report, Client Tier, Company ID)

clean_data = [
    dataframe["MD Name"],
    dataframe["Business Group"],
    dataframe["Deposits (Co or Firm)"],
    dataframe["Investment Balances (Co or Firm)"],
    dataframe["Loans (Co or Firm)"],
    dataframe["Credit Lines *"],
    dataframe["State"],
    dataframe["Client Status"]
]

# Create the master dataset
master = pd.DataFrame({
    "RM": clean_data[0],
    "Type": clean_data[1],
    "Deposits": clean_data[2],
    "Investment Balance": clean_data[3],
    "Loans": clean_data[4],
    "Credit Lines": clean_data[5],
    "State": clean_data[6],
    "Status": clean_data[7]
})

# replace all NaN with a 0 value
master = master.fillna(0)
master.head()

,RM,Type,Deposits,Investment Balance,Loans,Credit Lines,State,Status
0,Dominic,Life Science and Healthcare,0.0,0.0,0.0,0.0,TX,Former Client
1,0,Life Science and Healthcare,0.0,0.0,0.0,0.0,MN,Non-Client
2,Dominic,Life Science and Healthcare,0.0,0.0,0.0,0.0,CA,Non-Client
3,0,Life Science and Healthcare,0.0,0.0,0.0,0.0,AR,Non-Client
4,0,Life Science and Healthcare,0.0,0.0,0.0,0.0,AZ,Non-Client